.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: .5em;
  width: 48%;
  min-width: 200px;
  height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card > p {
  padding: .25rem 0 0 1rem;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 1);
  color: white;
}

// Mobile view

@mixin card--sm() {
  .card {
    width: 75%;
    margin: 1em auto;
  }
}
