#room-info-popup {
  position: fixed;
  top: 20vh;
  margin-left: 20%;
  z-index: 50;
  border-radius: 3%;
  background: white;
  width: 60%;
  height: 325px;
}

#booking-page-header {
  padding: 1em 0 0 1.5em;
}

.booking-popup-text {
  padding: 1em 3em 0 2.5em;
  font-size: .8em;
}

.room-booking-btn {
  margin-left: 2.25em;
  margin-top: 2em;
}

.room-description {
  position: absolute;
  font-size: 1.5em;
  left: .75rem;
  color: white;
  text-shadow: 0 1px 8px rgba(0, 0, 0, .5);
}

#body-blackout {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: rgba(0, 0, 0, .5);
  height: 1000%;
  width: 100%;
}
