#room-info-popup {
  position: fixed;
  top: 20vh;
  margin-left: 20%;
  z-index: 50;
  border-radius: 1em;
  background: white;
  width: 60%;
  height: 300px;
  overflow: scroll;
  animation-name: fadein;
  animation-duration: .5s;
}

#booking-page-header {
  padding: 1em 0 0 1.5em;
}

.room-popup-text {
  padding: 1em 3em 0 2.5em;
  font-size: .8em;
}

.room-booking-btn {
  margin-left: 2.25em;
  margin-top: 2em;
  width: 4em;
  height: 2em;
  border-radius: .5em;
}

#back-to-search-link {
  width: 11em;
  height: 2em;
  border-radius: .5em;
}

.room-description {
  position: absolute;
  font-size: 1.5em;
  left: .75rem;
  color: white;
  text-shadow: 0 1px 8px rgba(0, 0, 0, .5);
}

#body-blackout {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: rgba(0, 0, 0, .5);
  height: 1000%;
  width: 100%;
  animation-name: fadein;
  animation-duration: .5s;
}

@mixin popup--sm() {
  #room-popup-text {
    font-size: .5em;
  }

  #room-booking-btn {
    margin-left: 0em 0em 1em 2em;
    width: 75%;
  }

  #back-to-search-link {
    margin: 1em 0 1em 2em;
  }
}
