#customer-booking-page {
  display: grid;
  grid-template-columns: 250px 1fr;
}

#search-page-header {
  grid-area: 1;
  font-size: 1.5em;
  padding: 1em 0em 0em 1.5em;
}

#search-button-container {
  grid-area: 2 / 1;
  display: flex;
  flex-direction: column;
}

#booking-search-btn, #clear-search-btn {
  width: 200px;
  margin-left: 2.8em;
}

#clear-search-btn {
  margin-top: 1em;
}

#room-search-form {
  grid-column: 1;
}

#room-search-form > fieldset {
  grid-area: 2 / 1;
  display: flex;
  justify-content: flex-start;
  width: 200px;
  margin: 1em 0em 1em 2.35em;
  border: 1px solid black;
}

#apology-page {
  margin: 1em;
}

#search-placeholder-text {
  grid-area: 2 / 2;
  text-align: center;
  margin: 2em auto;
  color: gray;
}

#available-rooms {
  grid-area: 2 / 2;
  display: flex;
  flex-flow: row wrap;
}

.more-info-btn {
  position: absolute;
  top: 9em;
  left: 1em;
}

input[type="radio"] {
  margin-left: 1em;
}

@mixin customer-booking-page--md() {
  #customer-booking-page {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  #search-page-header {
    margin: 1em auto;
    padding: 0;
  }

  #room-search-form > fieldset {
    margin: auto;
    width: 75%;
  }

  #search-button-container {
    align-items: center;
    justify-content: space-between;
  }

  #search-button-container > button {
    margin: .75em;
    padding: 1em;
    width: 75%;
  }

  #search-placeholder-text {
    margin: 6em 1em;
  }
}

@mixin search-placeholder-text--sm() {
  #search-placeholder-text {
    margin: 3em 1em;
  }
}
