@import 'nav';
@import 'login-page';
@import 'customer-landing-page';
@import 'booking-page';
@import 'card';
@import 'room-booking-page';
@import 'manager-landing-page';
@import 'media-queries';

* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.hidden {
  display: none;
}
