@import 'nav';
@import 'login-page';
@import 'customer-landing-page';
@import 'booking-page';
@import 'card';
@import 'room-booking-page';
@import 'manager-landing-page';
@import 'media-queries';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/landing-page.jpg) no-repeat center center fixed;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
}

p, legend, label {
  font-family: 'Open Sans', sans-serif;
}

.hidden {
  display: none;
}
